<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SaneTube.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EA53B10B32E32E8370AB5BF273D74AADC64B785B</string>
				<key>dateExpires</key>
				<string>18/09/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U32349C7PN.net.alessiogiordano.personal.SaneTube</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.net.alessiogiordano.personal.SaneTube</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>U32349C7PN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SaneTube.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ac6203d9-b868-47c2-abd7-bd6c716047d1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.alessiogiordano.personal.SaneTube</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U32349C7PN</string>
				<key>name</key>
				<string>Alessio Giordano</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
