<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Proporzioni.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EA53B10B32E32E8370AB5BF273D74AADC64B785B</string>
				<key>dateExpires</key>
				<string>18/09/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U32349C7PN.net.alessiogiordano.personal.Proporzioni</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U32349C7PN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>U32349C7PN.net.alessiogiordano.personal.Proporzioni</string>
				</array>
			</dict>
			<key>name</key>
			<string>Proporzioni.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f86f7481-f85f-4f8f-9df7-1dea06f526f6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.alessiogiordano.personal.Proporzioni</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U32349C7PN</string>
				<key>name</key>
				<string>Alessio Giordano</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
