<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Televisore.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EA53B10B32E32E8370AB5BF273D74AADC64B785B</string>
				<key>dateExpires</key>
				<string>18/09/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U32349C7PN.net.alessiogiordano.personal.Televisore</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U32349C7PN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Televisore.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>860bda4d-52e6-48ad-96a8-aad6f5f1d7d4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.alessiogiordano.personal.Televisore</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U32349C7PN</string>
				<key>name</key>
				<string>Alessio Giordano</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
